* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body,
html {
    height: 100%;
    height: 100%;
    background-color: #EDEDEC;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-family: 'Laila', serif;
    color: #474747;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #474747;
}

.light {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}