@media(min-width: 1300px) {

    input {
        padding: 0.3% 1%;
        margin-top: 2%;
        outline: none;
        box-shadow: none;
        border-radius: 3px;
        border: 1px solid transparent;
        text-decoration: none;
        font-family: 'Laila', serif;
        font-weight: 600;
        cursor: pointer;
    }

    .button-black {
        background-color: #474747;
        color: #C4996D;
    }

    .hvr-fade:active,
    .hvr-fade:focus,
    .hvr-fade:hover {
        background-color: #C4996D;
        color: #474747;
    }
}