main,
header {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

main {
    margin-top: 10%;
    z-index: 1;
}

.curve {
    grid-column: 1 /13;
    position: relative;
    top: 10%;
}

.curve svg {
    width: 100%;
}