header .hero_text {
    grid-column: 3 / 4;
    grid-row: 2;
    margin-top: 10%;
}

.hero_image {
    grid-column: 3 / 4;
    margin-top: 1.25em;
    grid-row: 3;
    margin-bottom: 10%;
}

header h1 {
    font-size: 3.815em;
    line-height: 1.1em;
}

header .subtitle {
    font-size: 1.25em;
    display: inline;
}

header .quote {
    font-size: 0.5em;
    margin-top: 2%;
    margin-bottom: 11%;
    word-wrap: break-word;
    width: 20em;
    line-clamp: 5;
    -webkit-line-clamp: 5;
}

header .under_construction {
    font-size: 1.25em;
}

header .cta {
    font-size: 1.563em;
}

.border_line {
    min-height: 100%;
    border-left: 1px solid #576b74;
    grid-column: 2 / 3;
    grid-row: 1 / 4;
}


@media(min-width: 700px) {
    header .hero_text {
        grid-column: 3 / 4;
        grid-row: 2;
        margin-top: 10%;
    }

    .hero_image {
        grid-column: 3/ 5;
        margin-top: 1.25em;
        grid-row: 3;
        margin-bottom: 10%;
    }

    header h1 {
        font-size: 7.451em;
        line-height: 1.1em;
    }

    header .subtitle {
        font-size: 2.441em;
        display: inline;
    }

    header .quote {
        font-size: 1em;
        margin-top: 2%;
        margin-bottom: 11%;
        word-wrap: break-word;
        width: 20em;
        line-clamp: 5;
        -webkit-line-clamp: 5;
    }

    header .under_construction {
        font-size: 1.563em;
    }

    header .cta {
        font-size: 1.953em;
    }

    .border_line {
        min-height: 100%;
        border-left: 1px solid #576b74;
        grid-column: 2 / 3;
        grid-row: 1 / 4;
    }
}

@media(min-width: 1200px) {
    header .hero_text {
        grid-column: 4 / 5;
    }

    .hero_image {
        grid-column: 8 / 9;
        margin-top: 1.25em;
        grid-row: 2;
    }

    header .subtitle {
        font-size: 2.441em;
        display: inline;
    }

    header .under_construction {
        font-size: 1.563em;
    }

    header .cta {
        font-size: 1.953em;
    }

    .border_line {
        min-height: 100%;
        border-left: 1px solid #576b74;
        grid-column: 3 / 4;
        grid-row: 1 / 3;
    }
}


@media(min-width: 1400px) {
    header .hero_text {
        grid-column: 2 / 5;
    }

    .hero_image {
        grid-column: 7 / 10;
    }

    header h1 {
        font-size: 9.313em;
        line-height: 1em;
    }

    header .subtitle {
        font-size: 3.052em;
    }

    header .quote {
        font-size: 1.25em;
    }

    header nav ul li a {
        font-size: 1em;
    }

    .border_line {
        min-height: 100%;
        border-left: 1px solid #576b74;
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        width: 10px;
    }
}