header {
    min-height: 100%;
    max-width: 100%;
    background: url(/images/header.png) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-color: #E7E4DD;

}

header h1 {
    margin-top: auto;
    margin-bottom: auto;
}

main {
    min-height: 100%;
    max-width: 100%;
    display: grid;
    width: 1300px;
    margin: 0 auto;
}


section {
    min-height: 100%;
    max-width: 100%;
    display: grid;
    margin: 0 auto;
}


.introduction {
    height: 100vh;
}

.portfolio-featured {
    height: 100vh;
}

.twitch {
    height: 100vh;
}

.footer {
    height: 100%;
}

.commissions {
    height: 100vh;
}

.wave {
    position: sticky;
    z-index: 999;
    display: block;
    top: 100%;
    grid-column: 1 / 13;
}

// .flex {
//     display: flex;
//     flex-flow: row wrap;
//     justify-content: space-between;
//     --columns: 12;
// }

// *[class^="row"] {
//     --width: 12;
//     --gap-constant: 0.3%;
//     --initialbasis: calc(var(--width) / var(--columns) * 100%);
//     --gap: calc((var(--columns) - var(--width)) * var(--gap-constant, 0.3%));
//     flex-basis: calc(var(--initialbasis) - var(--gap));
// }