.oswald {
    font-family: 'Oswald', sans-serif;
}

.open_sans {
    font-family: 'Open Sans', sans-serif;
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--secondary-color);
}

.tri {
    color: var(--tri-color);
}

.accent-color {
    color: var(--accent-color);
}

.text-color {
    color: var(--text-color);
}

.text-color2 {
    color: var(--text-color2);
}