.button {
  display: inline-block;
  padding: 1em 2.2em;
  border: 0.1em solid #474747;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #474747;
  text-align: center;
  transition: all 0.2s;
  transition: background-color 0.5s ease;
}

.button:hover {
  color: #e3e3e3;
  background-color: #E7A14B;
  border: 0.1em solid transparent;
}

.line {
  margin-top: 10%;
  margin-bottom: 10%;
  width: 1000px;
  height: 2px;
  background: #474747;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 16px;
  width: 100%;
  background-color: #EDEDEC;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.563em;
  padding: 40px 30px;
  line-height: 60px;
  color: #474747;
}

.first-character {
  font-family: "Laila", serif;
  font-size: 2.441em;
}

img,
svg {
  width: 100%;
}

.logo {
  width: 70%;
}

ul > li {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
}

ul > li a {
  margin-right: 1em;
  color: #474747;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  transition: color 0.5s ease;
}

a:hover {
  color: #E7A14B;
}

header {
  width: 100%;
  height: 100vh;
  background: url(/images/header.png) no-repeat center center;
  background-color: #E7E4DD;
}

main {
  width: 100%;
  height: 100vh;
}

.content {
  max-width: 1600px;
  margin: 0 auto;
}

nav {
  display: flex;
}

.title {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 100px 60px;
}

.spinner {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 48%;
  left: 48%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
}

.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #E7E4DD;
  z-index: 999999;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
.navbar {
  padding: 40px 60px;
  justify-content: center;
}

@media (min-width: 1500px) {
  .navbar {
    justify-content: flex-end;
  }
}
.custom-shape-divider-bottom-1594005624 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1594005624 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1594005624 .shape-fill {
  fill: #EDEDEC;
}

.noa-intro,
.noa-intro-viewportfolio {
  margin-top: 20%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.noa-portfolio-skills {
  margin-top: 10%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.noa-portfolio-skills > ul {
  padding: 0 3.052em;
  color: #474747;
  font-family: "Montserrat", sans-serif;
  display: block;
}

.noa-portfolio-skills > ul li {
  display: block;
  font-size: 1.25em;
  margin-top: 20%;
}

.noa-portfolio-skills > ul li h4 {
  font-weight: 600;
  font-size: 1.563em;
  display: block;
}

.noa-intro > p {
  max-width: 800px;
  margin: 0 auto;
}

.noa-intro img {
  width: 50%;
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
