.introduction {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    max-width: 800px;
}

.introduction p {
    font-size: 2em;
    line-height: 2.2em;
    margin-bottom: 1.5em;
}

.fa-chevron-down {
    color: #474747;
}