.portfolio-featured {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    max-width: 800px;
}

.portfolio-featured p {
    font-size: 2em;
    line-height: 2.2em;
    margin-bottom: 1.5em;
}